body{
  background-color: black;
  color: white;
  margin:0;
}
#nav{
  margin:auto 0;
  padding:1% 12% 1.5% 12%;
  background-color: #222;
  align-items: center;
}
.main-header{
  margin-bottom: 6vh;
}
.button-span{
float: right;
align-items: center;
}
a{
  color:white;
  text-decoration: none;

}
.brand{
  font-weight: bolder;
  font-size: 3rem;
  text-decoration: none;
  color:white;
}
.navbar{
  text-align: left;
}
.brand-button{
  background:red;
  padding: 1px 6px;
  border-radius:5px;
  font-size: 2.3rem;
  color:white;
  border:none;
}
.weather-button{
  background:#929AAB;
  padding: 12px 16px 10px 16px;
  border-radius:5px;
  font-size:0.9rem;
  font-weight: bold;
  color:white;
  border:none;
  align-self: center;
  margin-right: 20px;
}
.nav-button{
  background:red;
  padding: 12px 16px 10px 16px;
  border-radius:5px;
  font-size:0.9rem;
  font-weight: bold;
  color:white;
  border:none;
  align-self: center;
}
.weather-button:hover{
  background:#36454f;

}
.nav-button:hover{
  background:tomato;

}
.nav-links{
  font-size: 1.1rem;
  font-family: sans-serif;
  font-weight: 400;
 margin: 0 4vw 0 0;
 padding:1.75% 0;
}
.link1{
  border-bottom: 4px solid dodgerblue;

}
.nav-links:hover{
  border-bottom: 4px solid dodgerblue;

}

#news{
  padding:1% 12% 1.5% 12%;
}
.breaking-news{
  display: flex;
  background-color: #222;
  text-align: center;
  margin-top: 2rem;
}
.breakingnews-img{
  width: 100%;
}
.breaking-news-headline{
  display: flex;
  width:50%;
  height:100%;
  justify-content: center;
  align-items: center;

}
.breakingnews-link{

  width: 70%;
  text-align: justify;
  margin:auto;
  line-height: 1.5;
  padding:18%;
}
.breaking-news:hover{
  box-shadow: 0.5px 0.5px 15px 2px #929AAB;

}

.breaking-news:hover .breakingnews-link{
  text-underline-offset:4px;
 text-decoration: underline;
}
.top-stories{
  font-size: 2rem;
  letter-spacing: 1;
  color: white;
  text-align: center;
}
.card-row{
  display: flex;
  justify-content: space-between;
}
.card{
  width: 30%;
  background-color: #222;
  box-shadow: 0.5px 0.5px 15px 2px #929AAB;

  text-align: justify;
  overflow: hidden;
}
.img-container{
  overflow: hidden;
}
.card:hover{
  box-shadow: 1px 1px 25px 5px #929AAB;
}
.card:hover .card-img {
  transform: scale(1.5);
}
.card:hover .headline {
   text-underline-offset:4px;
  text-decoration: underline;
}
.card-img{
  width: 100%;
  transition: all 0.5s;
}
.headline{
  line-height: 1.5;
  padding: 10px 30px 20px 30px;
  text-align: justify;
}
